<p class="line-count">299 lines</p><div class="columns">
<a href="https://github.com/vuesomedev/todomvc-vue-composition-api/tree/master/src/components/app/app.vue"><pre class="pre-1"><h3>app.vue</h3>&lttemplate&gt
  &ltdiv id="app"&gt
    &ltsection class="todoapp"&gt
      &ltHeader /&gt
      &ltList v-if="todosLength" /&gt
      &ltFooter v-if="todosLength" /&gt
    &lt/section&gt
    &ltCopyRight /&gt
  &lt/div&gt
&lt/template&gt

&ltscript&gt
import { useStore } from 'vuex';
import { onMounted, watchEffect, computed } from 'vue';
import Header from '../header/header.vue';
import List from '../list/list.vue';
import Footer from '../footer/footer.vue';
import CopyRight from '../copy-right/copy-right.vue';
import { TodoLocal } from '../../services/todo-local';

export default {
  components: { CopyRight, Header, List, Footer },
  setup() {
    const store = useStore();

    onMounted(() =&gt {
      store.dispatch('onLoad', TodoLocal.loadTodos());

      watchEffect(() =&gt {
        TodoLocal.storeTodos(store.state.todos);
      });
    });

    return {
      todosLength: computed(() =&gt store.state.todos.length)
    };
  }
};
&lt/script&gt
</pre></a>
<a href="https://github.com/vuesomedev/todomvc-vue-composition-api/tree/master/src/components/header/header.vue"><pre class="pre-2"><h3>header.vue</h3>&ltscript&gt
import { reactive, toRefs } from 'vue';
import { useStore } from 'vuex';

const ENTER_KEY = 'Enter';

export default {
  setup() {
    const store = useStore();
    const state = reactive({
      name: ''
    });

    const handleChange = event =&gt (state.name = event.target.value);
    const handleSubmit = event =&gt {
      if (event.key !== ENTER_KEY) {
        return;
      }

      store.dispatch('onCreate', state.name);
      state.name = '';
    };

    return {
      ...toRefs(state),
      handleChange,
      handleSubmit
    };
  }
};
&lt/script&gt
&lttemplate&gt
  &ltheader class="header"&gt
    &lth1&gttodos&lt/h1&gt
    &ltinput
      class="new-todo"
      placeholder="What needs to be done?"
      :value="name"
      @input="handleChange"
      @keyup="handleSubmit"
    /&gt
  &lt/header&gt
&lt/template&gt
</pre></a>
<a href="https://github.com/vuesomedev/todomvc-vue-composition-api/tree/master/src/components/footer/footer.vue"><pre class="pre-3"><h3>footer.vue</h3>&ltscript&gt
import { computed } from 'vue';
import { useStore } from 'vuex';
import { FILTERS } from '../../constants/filter';

export default {
  setup() {
    const store = useStore();

    const filterTitles = [
      { key: FILTERS.all, value: 'All' },
      { key: FILTERS.active, value: 'Active' },
      { key: FILTERS.completed, value: 'Completed' }
    ];
    const onClearCompleted = () =&gt store.dispatch('onClearCompleted');
    const onFilterSelect = filter =&gt store.dispatch('onFilterSelect', filter);

    return {
      filterTitles,
      filter: computed(() =&gt store.state.filter),
      itemsLeft: computed(() =&gt store.getters.itemsLeft),
      completedCount: computed(() =&gt store.getters.completedCount),
      itemText: computed(() =&gt (store.getters.itemsLeft === 1 ? ' item' : ' items')),
      onClearCompleted,
      onFilterSelect
    };
  }
};
&lt/script&gt
&lttemplate&gt
  &ltfooter class="footer"&gt
    &ltspan class="todo-count"
      &gt&ltstrong&gt{{ itemsLeft }}&lt/strong
      &gt&ltspan&gt {{ itemText }} left&lt/span&gt&lt/span
    &gt
    &ltul class="filters"&gt
      &ltli v-for="filterTitle in filterTitles" :key="filterTitle.key"&gt
        &lta href="./#" :class="{ selected: filterTitle.key === filter }" @click="onFilterSelect(filterTitle.key)"&gt
          {{ filterTitle.value }}
        &lt/a&gt
      &lt/li&gt
    &lt/ul&gt
    &ltbutton v-if="completedCount" class="clear-completed" @click="onClearCompleted"&gtClear completed&lt/button&gt
  &lt/footer&gt
&lt/template&gt
</pre></a>
<a href="https://github.com/vuesomedev/todomvc-vue-composition-api/tree/master/src/components/item/item.vue"><pre class="pre-4"><h3>item.vue</h3>&ltscript&gt
import { ref } from 'vue';

export default {
  props: {
    todo: {
      type: Object,
      required: true
    }
  },
  setup(props, { emit }) {
    const editing = ref(false);
    const name = ref(props.todo.name);

    const handleEdit = () =&gt (editing.value = true);
    const handleCompleted = () =&gt emit('update', { id: props.todo.id, completed: !props.todo.completed });
    const handleRemove = () =&gt emit('remove', props.todo.id);
    const handleChange = event =&gt (name.value = event.target.value);
    const handleBlur = () =&gt {
      emit('update', { id: props.todo.id, name: name.value });
      editing.value = false;
    };

    return {
      name,
      editing,
      handleRemove,
      handleCompleted,
      handleEdit,
      handleChange,
      handleBlur
    };
  }
};
&lt/script&gt
&lttemplate&gt
  &ltli :class="{ completed: todo.completed, editing: editing }"&gt
    &ltdiv class="view"&gt
      &ltinput class="toggle" type="checkbox" :checked="todo.completed" @change="handleCompleted" /&gt
      &ltlabel @dblclick="handleEdit"&gt{{ todo.name }}&lt/label&gt
      &ltbutton class="destroy" @click="handleRemove" /&gt
    &lt/div&gt
    &ltinput v-if="editing" class="edit" :value="name" @input="handleChange" @blur="handleBlur" /&gt
  &lt/li&gt
&lt/template&gt
</pre></a>
<a href="https://github.com/vuesomedev/todomvc-vue-composition-api/tree/master/src/components/list/list.vue"><pre class="pre-5"><h3>list.vue</h3>&ltscript&gt
import { computed } from 'vue';
import { useStore } from 'vuex';
import Item from '../item/item.vue';

export default {
  components: { Item },
  setup() {
    const store = useStore();

    const onRemove = todoId =&gt store.dispatch('onRemove', todoId);
    const onUpdate = todo =&gt store.dispatch('onUpdate', todo);
    const onCompleteAll = () =&gt store.dispatch('onCompleteAll');

    return {
      visibleTodos: computed(() =&gt store.getters.visibleTodos),
      areAllCompleted: computed(() =&gt store.getters.areAllCompleted),
      onRemove,
      onUpdate,
      onCompleteAll
    };
  }
};
&lt/script&gt
&lttemplate&gt
  &ltsection class="main"&gt
    &ltinput id="toggle-all" class="toggle-all" type="checkbox" :checked="areAllCompleted" readonly /&gt
    &ltlabel htmlFor="toggle-all" @click="onCompleteAll"&gt&lt/label&gt

    &ltul class="todo-list"&gt
      &ltItem v-for="todo in visibleTodos" :key="todo.id" :todo="todo" @remove="onRemove" @update="onUpdate" /&gt
    &lt/ul&gt
  &lt/section&gt
&lt/template&gt
</pre></a>
<a href="https://github.com/vuesomedev/todomvc-vue-composition-api/tree/master/src/constants/action-types.js"><pre class="pre-6"><h3>action-types.js</h3>export const ACTION_TYPES = {
  load: 'load',
  create: 'create',
  remove: 'remove',
  update: 'update',
  completeAll: 'complete_all',
  clearCompleted: 'clear_completed',
  selectFilter: 'select_filter'
};
</pre></a>
<a href="https://github.com/vuesomedev/todomvc-vue-composition-api/tree/master/src/constants/filter.js"><pre class="pre-7"><h3>filter.js</h3>export const FILTERS = {
  all: 'all',
  active: 'active',
  completed: 'completed'
};
</pre></a>
<a href="https://github.com/vuesomedev/todomvc-vue-composition-api/tree/master/src/store/actions/filter.js"><pre class="pre-8"><h3>filter.js</h3>import { ACTION_TYPES } from '../../constants/action-types';

export const filterActions = {
  onFilterSelect: ({ commit }, filter) =&gt commit(ACTION_TYPES.selectFilter, { filter })
};
</pre></a>
<a href="https://github.com/vuesomedev/todomvc-vue-composition-api/tree/master/src/store/actions/todo.js"><pre class="pre-9"><h3>todo.js</h3>import { ACTION_TYPES } from '../../constants/action-types';

export const todoActions = {
  onLoad: ({ commit }, todos) =&gt commit(ACTION_TYPES.load, { todos }),
  onCreate: ({ commit }, name) =&gt commit(ACTION_TYPES.create, { name }),
  onRemove: ({ commit }, id) =&gt commit(ACTION_TYPES.remove, { id }),
  onUpdate: ({ commit }, payload) =&gt commit(ACTION_TYPES.update, payload),
  onCompleteAll: ({ commit }) =&gt commit(ACTION_TYPES.completeAll),
  onClearCompleted: ({ commit }) =&gt commit(ACTION_TYPES.clearCompleted)
};
</pre></a>
<a href="https://github.com/vuesomedev/todomvc-vue-composition-api/tree/master/src/store/getters/todo.js"><pre class="pre-10"><h3>todo.js</h3>import { FILTERS } from '../../constants/filter';

export function selectCompleted(todos) {
  return todos.filter(todo =&gt todo.completed);
}

export function selectNotCompleted(todos) {
  return todos.filter(todo =&gt !todo.completed);
}

export function selectVisible(todos, filter) {
  switch (filter) {
    case FILTERS.all:
      return [...todos];
    case FILTERS.completed:
      return selectCompleted(todos);
    case FILTERS.active:
      return selectNotCompleted(todos);
    default:
      return [...todos];
  }
}

export const getters = {
  visibleTodos: state =&gt selectVisible(state.todos, state.filter),
  areAllCompleted: state =&gt state.todos.length && state.todos.every(todo =&gt todo.completed),
  itemsLeft: state =&gt selectNotCompleted(state.todos).length,
  completedCount: state =&gt selectCompleted(state.todos).length
};
</pre></a>
<a href="https://github.com/vuesomedev/todomvc-vue-composition-api/tree/master/src/store/mutations/filter.js"><pre class="pre-11"><h3>filter.js</h3>import { ACTION_TYPES } from '../../constants/action-types';

export const filterMutations = {
  [ACTION_TYPES.selectFilter]: (state, { filter }) =&gt (state.filter = filter)
};
</pre></a>
<a href="https://github.com/vuesomedev/todomvc-vue-composition-api/tree/master/src/store/mutations/todo.js"><pre class="pre-12"><h3>todo.js</h3>import { v4 as uuidv4 } from 'uuid';
import { ACTION_TYPES } from '../../constants/action-types';
import { selectCompleted, selectNotCompleted } from '../getters/todo';

const areAllCompleted = state =&gt state.length && selectCompleted(state).length === state.length;

export const todosMutations = {
  [ACTION_TYPES.load]: (state, { todos }) =&gt (state.todos = todos),
  [ACTION_TYPES.create]: (state, { name }) =&gt
    (state.todos = [...state.todos, { id: uuidv4(), name, completed: false }]),
  [ACTION_TYPES.update]: (state, values) =&gt
    (state.todos = state.todos.map(todo =&gt (todo.id === values.id ? { ...todo, ...values } : todo))),
  [ACTION_TYPES.remove]: (state, { id }) =&gt (state.todos = state.todos.filter(todo =&gt todo.id !== id)),
  [ACTION_TYPES.completeAll]: state =&gt {
    state.todos = state.todos.map(todo =&gt ({ ...todo, ...{ completed: !areAllCompleted(state) } }));
  },
  [ACTION_TYPES.clearCompleted]: state =&gt (state.todos = selectNotCompleted(state.todos))
};
</pre></a>
</div>